.Maincontainer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #F9F6F5;
    z-index: 9999999999;
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
}
.container {
    display: grid;
    grid-template-areas: "a a a";
    rotate: 45deg;
    gap: 5px;
    .box {
        background-color: #32324D;
        width: 30px;
        height: 30px;
        box-shadow: 0 0 15px #373752;
    }
}

.una-text {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    font-family: Arial, sans-serif;
    opacity: 0;
  }