body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
.splide__arrow {
  display: none !important; /* Kutubxona tugmalarini yashiradi */
}
.react-image-zoom-container {
  box-shadow: none !important; 
  transition: none !important; /* animatsiyalarni olib tashlash */
}

.react-image-zoom-img {
  box-shadow: none !important;
  transition: none !important;
}
.js-image-zoom__zoomed-image {
  z-index: 1;
}
/* .js-image-zoom__zoomed-area {
  border: 1px solid red;
} */
.js-image-zoom__zoomed-area {
display: none;
background-color: transparent !important;
}


